<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/ele.css">
</head>
<body>
<div id="app">
    <el-menu default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">Magnet Subscriber</el-menu-item>
        <el-menu-item index="2">Logout</el-menu-item>
    </el-menu>
    <el-form :inline="true">
        <el-form-item label="New Subscriber" style="margin-top: 22px">
            <el-input v-model="new_keyword" placeholder="Keyword"></el-input>
        </el-form-item>
        <el-form-item style="margin-top: 22px">
            <el-button type="primary" @click="onSubmit">Add</el-button>
        </el-form-item>
    </el-form>
    <el-collapse accordion>
        <el-collapse-item v-for="task in tasks">
            <template slot="title">
                <el-tag type="success" size="small">{{task.gmt_create}}</el-tag>
                {{task.keyword}}
                <i class="el-icon-loading" v-if="!task.magnet"></i>
            </template>
            <el-button type="success" icon="el-icon-success">{{task.nodes.length}} Nodes</el-button>
            <a :href="task.magnet" v-if="task.magnet">
                <el-button type="warning" icon="el-icon-download">Magnet</el-button>
            </a>
            <el-button type="primary" icon="el-icon-search" v-on:click="search(task.keyword)">Search</el-button>
            <el-button type="danger" icon="el-icon-delete" v-on:click="deleteTask(task.keyword)">Delete</el-button>
            <el-table :data="task.nodes">
                <el-table-column prop="sup" label="#" width="50"></el-table-column>
                <el-table-column prop="title" label="Title"></el-table-column>
                <el-table-column label="Attr" :formatter="attrFormatter"></el-table-column>
                <el-table-column label="Detail">
                    <template slot-scope="scope">
                        <a :href="scope.row.detail" target="_blank">
                            <el-button size="mini" round>Detail</el-button>
                        </a>
                        <a :href="scope.row.magnet">
                            <el-button size="mini" round>Magnet</el-button>
                        </a>
                        <el-button size="mini" round v-on:click="mark(scope.row.keyword, scope.row.magnet)"
                                   :type="scope.row.magnet == task.magnet ? 'warning' : ''">
                            <i class="el-icon-check" v-if="scope.row.magnet == task.magnet"></i>
                            Mark
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-collapse-item>
    </el-collapse>
    <el-dialog title="Login" :visible.sync="dialogVisible">
        <a :href="loginUrl()">
            <el-button type="primary" plain>
                Login By
                <svg aria-hidden="true" class="octicon octicon-mark-github" height="40" version="1.1" viewBox="0 0 16 16" width="40">
                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </el-button>
        </a>
    </el-dialog>
</div>
</body>
<!-- 先引入 Vue -->
<script src="/static/vue.js"></script>
<!-- 引入组件库 -->
<script src="/static/ele.js"></script>

<script src="/static/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                tasks: [],
                visible: false,
                new_keyword: '',
                dialogVisible: false
            }
        },
        methods: {
            getTasks: function () {
                let that = this;
                axios.get('/ajax/task').then(function (response) {
                    console.log(response.data);
                    that.tasks = response.data
                }).catch(function (error) {
                    console.log(error);
                })
            },
            attrFormatter: function (r, c) {
                let attrs = r.attr.split("|");
                return attrs.join("\n");
            },
            search: function (keyword) {
                let that = this;
                for (let i = 0; i < that.tasks.length; i++) {
                    if (that.tasks[i].keyword === keyword) {
                        that.tasks[i].nodes = []
                    }
                }
                axios.put('/ajax/task/' + keyword, {
                    magnet: ''
                }).then(function (response) {
                    console.log(response.data);
                    that.getTasks()
                }).catch(function (error) {
                    console.log(error)
                });
            },
            mark: function (keyword, magnet) {
                let that = this;
                axios.put('/ajax/task/' + keyword, {
                    magnet: magnet
                }).then(function (response) {
                    console.log(response.data);
                    that.getTasks()
                }).catch(function (error) {
                    console.log(error)
                });
            },
            deleteTask: function (keyword) {
                let that = this;
                axios.delete('/ajax/task/' + keyword, {
                    magnet: ''
                }).then(function (response) {
                    console.log(response.data);
                    that.getTasks()
                }).catch(function (error) {
                    console.log(error)
                });
            },
            onSubmit: function () {
                let that = this;
                axios.put('/ajax/task/' + that.new_keyword, {
                    magnet: ''
                }).then(function (response) {
                    console.log(response.data);
                    that.getTasks()
                }).catch(function (error) {
                    console.log(error)
                });
            },
            login: function () {
                this.dialogVisible = true
            },
            loginUrl: function () {
                let url = 'https://github.com/login/oauth/authorize?client_id=aada89b2290af74a4f49';
                if (window.location.href.indexOf("g.qinhang3.win") === -1){
                    url = url + '&redirect_uri=' + encodeURIComponent('https://g.qinhang3.win/user/callback/debug')
                }
                return url
            },
            handleSelect: function (key) {
                let that = this;
                console.log(key);
                if (key === '2'){
                    this.tasks = [];
                    axios.get('/user/logout').then(function(){
                        that.getTasks()
                    });
                }
            }
        },
        mounted: function () {
            that = this;
            axios.interceptors.response.use(function (response) {
                return response;
            }, function (error) {
                if (error.response.status === 403) {
                    that.login();
                }
                return Promise.reject(error);
            });
            this.getTasks();
        }
    })
</script>
</html>